<footer class="footer">

    <div class="top">

        <div class="footer-menu-container">

            <div class="footer-menu">
                <h3>Product</h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/services/">Services</a></li>
                </ul>
            </div>

            <div class="footer-menu">
                <h3>Company</h3>
                <ul>
                    <li class="active"><a href="{{ '/about' | relative_url }}">About</a></li>
                    <li><a href="/contact-us">Contact</a></li>
                </ul>
            </div>

            <div class="footer-menu">
                <h3>Other</h3>
                <ul>
                    <li><a href="/privacy-policy/">Privacy Policy</a></li>
                    <li><a href="/terms-and-conditions/">Terms and Conditions</a></li>
                </ul>
            </div>

            <div class="footer-menu">
                <h3>Contact Us</h3>
                <div class="contact">
                    <div class="contact-email">
                        <strong>Email:</strong>
                        <a class="email-link" href="mailto:{{ site.company.email }}">{{ site.company.email }}</a>
                    </div>
                    <div class="contact-address">
                        <strong>Address:</strong>
                        {{ site.company.address }}
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="bottom">
        <div class="copyright">© 2025 {{ site.company.name }}</div>
    </div>

</footer>
