<header>
    <!-- Navbar -->
    <div class="nav-bar">

        <div class="logo-img">
            <a href="/">
                <img src="../assets/img/logo/Gemini_Generated_Logo.jpeg" alt="Company Logo">
            </a>
        </div>

        <ul class="nav-list">

            <!-- Home -->
            <li class="nav-item {% if page.url == '/' %}active{% endif %}">
                <a class="nav-link" href="/">Home</a>
            </li>

            <!-- Services Dropdown -->
            <li class="nav-item dropdown {% if page.url == '/services' %}active{% endif %}">
                <a class="nav-link" href="/services">Services
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu">
                    <ul class="dropdown-list">
                        {% for service in site.data.services %}
                        <li class="dropdown-item"><a href="{{ service.url }}">{{ service.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </li>

        </ul>
    </div>

    <!-- Banner -->
    <div class="banner">

        {% if page.url == '/' %}
        <div class="banner-gradient">
            <img src="../assets/img/banners/Gemini_Generated_Engineers.jpeg" alt="Engineers at Work">
        <div class="banner-content">
            <h1>Curiosity and Engineering</h1>
            <h3>
                Success starts with insight. Through data analysis and engineering, we refine strategies to drive growth
                and achieve your business goals.
            </h3>
        </div>
        </div>

        {% elsif page.url == '/services' %}
        <div class="banner-gradient">
            <img src="../assets/img/banners/Gemini_Generated_Office_Space.jpeg" alt="Office Space">
        </div>
        <div class="banner-content">
            <h1>Services</h1>
            <h3> Feel free to browse our services and learn how they can impact your business.</h3>
        </div>

        {% elsif page.url == '/services/data-analytics' %}
        <div class="banner-gradient">
            <img src="../assets/img/banners/Gemini_Generated_Whiteboard_Meeting.jpeg" alt="Whiteboard Meeting">
        </div>
        <div class="banner-content">
            <h1>{{ site.data.data_analytics.title }}</h1>
            <h3>{{ site.data.data_analytics.description }}</h3>
        </div>

        {% elsif page.url == '/services/data-engineering' %}
        <div class="banner-gradient">
            <img src="../assets/img/banners/Gemini_Generated_Server_Ports.jpeg" alt="Server Ports">
        </div>
        <div class="banner-content">
            <h1>{{ site.data.data_engineering.title }}</h1>
            <h3>{{ site.data.data_engineering.description }}</h3>
        </div>

        {% endif %}

    </div>
</header>