.banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/software-developer.jpg") no-repeat center center;
    background-size: cover;
    z-index: 1;
}

.banner-content {
    position: relative;
    padding-left: 10vh;
    padding-right: 10vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    z-index: 2;
}

.banner h1, .banner h5 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8),
    0 0 20px rgba(0, 0, 0, 0.6),
    0 0 30px rgba(0, 0, 0, 0.4); /* Multiple shadows for spray effect */
}

.banner-button {
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.banner-button:hover {
    background-color: dodgerblue;
}

.banner-button:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.6);
}