
.services-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10vh 10vh 10vh 10vh;
}

.card {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 20%;
    height: 20%;
}

/*.card-img-top {*/
/*    width: 100%;*/
/*    height: auto;*/
/*}*/

/*.card-body {*/
/*    padding: 15px;*/
/*}*/

/*h1 {*/
/*    text-align: center;*/
/*}*/
