.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing-50);
}

.card {
    width: 100%;
    max-width: var(--size-300);;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius-8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: var(--color-base-bg-3);
}

.card-img {
    width: 100%;
    height: var(--size-200);
    overflow: hidden;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    transition: all .3s ease;
}

.card-img img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-none) var(--spacing-10);
}

.card-content .card-title a {
    text-decoration: none;
}

.card-content p {
    text-align: center;
    margin-top: var(--spacing-none);
}
