.form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form-info {
    margin-bottom: var(--spacing-20);
}

.form-info h1 {
    font-weight: var(--font-weight-600);
}

.form {
    width: 100%;
    max-width: var(--size-600);
}

.form .form-input {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-10);
    margin-bottom: var(--spacing-10);
}

.form-input label {
    font-weight: var(--font-weight-600);
}

.form-input input, .form-input textarea {
    width: 100%;
    font-size: var(--font-size-base);
    border: none;
    border-radius: var(--border-radius-3);
    font-family: var(--font-family-body);
    background: var(--color-base-bg-3);
    color: var(--color-primary-text);
}

.form-input input {
    height: var(--size-40);
}

.form-input textarea {
    height: var(--size-200);
}