.icon-card-container {
    display: flex;
    justify-content: center;
    gap: var(--spacing-30);
}

.icon-card-container .icon-card-card {
    width: 100%;
    max-width: var(--image-size-300);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.icon-card-card .card-icon img {
    width: var(--image-size-50);
    height: var(--image-size-50);
}

.icon-card-card .card-content {
    margin-top: var(--spacing-none);
}

.icon-card-card .card-content .card-title a {
    text-decoration: none;
}