.split-info-container {
    display: flex;
}

.split-info-container .info-img {
    flex: 1;
    height: auto;
    max-height: var(--image-size-500);
    overflow: hidden;
}

.info-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.split-info-container .info-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--spacing-none) var(--spacing-30) var(--spacing-30);
}

.split-info-container .info-content h1 {
    font-weight: var(--font-weight-600);
}

.split-info-container .info-content p {
    margin-bottom: var(--spacing-10);
}