.footer {
    position: relative;
    background-color: #2b3af7;
}

.footer-menu-container {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-menu ul li {
    margin-bottom: 10px;
}

.footer-menu ul li a {
    text-decoration: none;
    color: inherit;
}

.footer-menu ul li a:hover {
    text-decoration: underline;
}

.footer-contact {
    margin-top: 20px;
}

.footer-contact h3 {
    margin-top: 0;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 10px;
}

.contact-email, .contact-address {
    margin-bottom: 10px;
}

.contact a {
    text-decoration: none;
    color: inherit;
}

.bottom {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #702bf7;
}

@media (max-width: 768px) {
    .footer-menu-container {
        flex-direction: column;
    }

    .footer-menu {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }

    .footer-contact {
        margin-top: 20px;
    }
}
