.footer {
    position: relative;
    background-color: var(--color-primary-bg);
}

.footer-menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: var(--spacing-80) var(--spacing-30);
}

.footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--spacing-none);
    margin: var(--spacing-none);
}

.footer-menu ul li {
    margin-bottom: var(--spacing-10);
}

.footer-menu ul li a {
    text-decoration: none;
    color: inherit;
}

.footer-menu ul li a:hover {
    text-decoration: underline;
}

.footer-contact h3 {
    margin-top: var(--spacing-none);
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: var(--spacing-10);
}

.contact-email, .contact-address {
    margin-bottom: var(--spacing-10);
}

.contact a {
    text-decoration: none;
    color: inherit;
}

.bottom {
    display: flex;
    justify-content: center;
    padding: var(--spacing-10) var(--spacing-none);
    background-color: var(--color-primary-bg-2);
}

@media (max-width: 700px) {
    .footer-menu-container {
        flex-direction: column;
    }

    .footer-menu {
        flex: 1 1 100%;
        margin-bottom: var(--spacing-20);
    }

    .footer-contact {
        margin-top: var(--spacing-20);
    }
}
