.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 60px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-none) var(--spacing-30);
    color: var(--color-primary-text);
    z-index: 10;
}

.logo-img {
    box-shadow: 0 6px 25px 5px rgba(255, 255, 255, 0.2);
}

.logo-img a {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-img a img {
    width: 100%;
    max-width: var(--size-150);
    height: 100%;
}

.nav-list {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    padding: var(--spacing-30);
    font-size: var(--font-size-base);
}

.nav-item a {
    text-decoration: none;
    color: var(--color-primary-text);
}

.nav-item a:hover {
    text-decoration: underline;
}

.nav-item.active {
    text-decoration: underline;
    font-weight: var(--font-weight-600);
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
}

.caret {
    display: inline-block;
    vertical-align: middle;
    border-top: 6px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    transition: transform 0.3s ease-in-out;
}

.nav-item:hover .caret {
    transform: rotate(180deg);
}

.dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 0;
    box-shadow: 0 6px 25px 5px rgba(255, 255, 255, 0.1);
    transition: 0.3s ease-out;
}

.dropdown-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
    margin-top: var(--spacing-10);
    padding: var(--spacing-10);
    border-radius: var(--border-radius-5);
    background-color: var(--color-base-bg);
}

.dropdown-item {
    font-size: var(--font-size-base);
    padding: var(--spacing-10);
}

.dropdown-item:hover, .dropdown-item a:hover {
    text-decoration: none;
    background-color: var(--color-base-bg-3);
    color: var(--color-base-text);
}

.banner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: var(--size-600);
    z-index: 0;
}

.banner-gradient {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, var(--color-primary-bg), var(--color-primary-bg-3));
}

.banner-gradient img {
    width: 100%;
    height: auto;
    max-height: var(--size-600);
    object-fit: cover;
    mix-blend-mode: overlay;
}

.banner-content {
    position: absolute;
    top: 40%;
    left: 10%;
    width: 100%;
    max-width: var(--size-500);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
}

.banner-content h3 {
    color: var(--color-base-text-2);
}