<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>

    <!-- Internal styles -->
    <link href="../assets/css/global_styles.css" rel="stylesheet">
    <link href="../assets/css/header_styles.css" rel="stylesheet">
    <link href="../assets/css/components/form_styles.css" rel="stylesheet">
    <link href="../assets/css/footer_styles.css" rel="stylesheet">

</head>
<body id="body">

{% include header.html %}

<main>

    <!-- Contact Form -->
    <div class="form-container">

        <div class="form-info">
            <h1>Let's Connect!</h1>
            <p>Contact us today and let’s explore how we can work together.</p>
        </div>

        <form class="form">

            <!-- Name input -->
            <div class="form-input">
                <label>Name</label>
                <input type="text" placeholder="Your Name"/>
            </div>

            <!-- Email input -->
            <div class="form-input">
                <label>Email address</label>
                <input type="email" placeholder="Your Email"/>
            </div>

            <!-- Subject input -->
            <div class="form-input">
                <label>Subject</label>
                <input type="text" placeholder="Email Subject"/>
            </div>

            <!-- Message input -->
            <div class="form-input">
                <label>Message</label>
                <textarea rows="8" placeholder="Message"></textarea>
            </div>

            <!-- Submit button -->
            <button class="button">Submit</button>

        </form>

    </div>
    <!-- Contact Form -->

</main>

{% include footer.html %}

<!-- Internal scripts-->
<script src="../assets/js/navbar-scroll.js"></script>
<script src="../assets/js/navbar-set-active.js"></script>

</body>
</html>
