<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <!-- MDB -->
    <link href="https://cdn.jsdelivr.net/npm/mdb-ui-kit/css/mdb.min.css" rel="stylesheet">
</head>
<body>
<!-- Include the header -->
{% include header.html %}

<!-- Main content of the page -->
<!--<main class="container">-->
<!--    {{ content }}-->
<!--</main>-->

<!-- Include the footer -->
{% include footer.html %}

<!-- MDB -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mdb-ui-kit@8.2.0/js/mdb.umd.min.js"></script>

</script>
</body>
</html>
