<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>

    <!-- Internal styles -->
    <link href="../assets/css/global_styles.css" rel="stylesheet">
    <link href="../assets/css/header_styles.css" rel="stylesheet">
    <link href="../assets/css/footer_styles.css" rel="stylesheet">
    <link href="../assets/css/home_styles.css" rel="stylesheet">

    <!-- External styles -->
    <link href="https://cdn.jsdelivr.net/npm/mdb-ui-kit/css/mdb.min.css" rel="stylesheet">

</head>
<body id="body">
<!-- Include the header -->
{% include header.html %}

<!-- Main content of the page -->
<main>

    <!-- Services -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="grid-header grid-header-align-center">
                        <h2>Our Services</h2>
                    </div>
                </div>

                {% for service in site.data.services %}
                <div class="col-12 col-md-4 col-lg-4 mb-3">
                    <div id="card">
                        <div class="card-content">
                            <div class="card-icon">
                                <img alt="{{ service.name }}" width="50" height="50"
                                     src="../assets/img/icons/{{ service.icon }}">
                            </div>
                            <div class="card-title">
                                <h3><a href="{{ service.url }}">{{ service.name }}</a></h3>
                            </div>
                            <div class="card-description">
                                <p>{{ service.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="col-12">
                    <div class="grid-footer grid-footer-align-center">
                        <a href="/services" class="grid-view-more-button">
                            View All Services
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services -->

    <!-- About -->
    <div class="section about-section">
        <div class="container about-container">
            <div class="about-content">
                <h2>About</h2>
                <p>We are a consulting firm with a strong foundation in
                    software engineering and has since pivoted to specialize in data engineering and analytics. The
                    focus is on uncovering actionable insights that empower organizations to realize their full
                    potential. The firm is particularly committed to projects that create a lasting, positive impact on
                    communities and deliver measurable results. To further that mission, flexible pricing options are
                    available for nonprofits facing budget constraints, reflecting the belief that impactful technology
                    should be accessible to all.</p>
            </div>
        </div>
    </div>
    <!-- About -->

    <!-- Contact Us -->
    <div class="section contact-section">
        <div class="container">
            <div class="contact">
                <div class="contact-content">
                    <h2>Let's Connect!</h2>
                    <p>Contact us today and let’s explore how we can work together.</p>
                    <a href="/contact-us" class="button" data-mdb-ripple-init>Contact Us</a>
                </div>
            </div>
        </div>
    </div>

</main>

<!-- Include the footer -->
{% include footer.html %}

<!-- Internal scripts-->
<script src="../assets/js/navbar-scroll.js"></script>
<script src="../assets/js/navbar-set-active.js"></script>

<!-- External scripts -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mdb-ui-kit@8.2.0/js/mdb.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
